@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font-family: 'Roboto', sans-serif; */

@import 'utilitarios.css';
@import 'global.css';

/* Estilos gerais */
*{
   box-sizing: border-box;
}

body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
}

h1,h2,h3{
   margin: 0;
}

img{
   max-width: 100%;
}

ul{
   margin: 0px;
   padding: 0px;
   list-style: none;
}

a{
   text-decoration: none;
}

/* Header */
header{
   padding: 20px 0 60px 0;
   background-color: #000000;
}

.header-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   box-sizing: border-box;
   margin: 0 auto;
   padding: 0 20px;
}

.header-navegacao{
   display: flex;
   gap: 40px;
}

.header-navegacao a{
   display: inline-block;
   color: #ffffff;
   padding: 16px 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: bold;
   position: relative;
}

.header-navegacao a:after{
   content: "";
   display: block;
   width: 0;
   height: 2px;
   background-color: #ffffff;
   margin-top: 4px;
   position: absolute;
}

.header-navegacao a:hover:after{
   width: 100%;
   transition: 0.3s;
}
/* Media header */
@media (max-width:800px){
   header{
      padding-bottom: 20px;
   }
   .header-navegacao{
      gap: 20px;
   }
   .header-navegacao a{
      background-color: #111111;
      padding: 14px 16px;
      font-size: 16px;
      border-radius: 4px;
   }
   .header-navegacao a:hover{
      background-color: #2e2e2e;
   }
   .header-navegacao a::after{
      display: none;
   }
}

@media (max-width:600px){
   .header-navegacao a{
      font-size: 14px;
      padding: 10px 12px;
   }

   .header-navegacao{
      gap: 10px;
   }
}

@media (max-width:450px){
   .header-container{
      align-items: start;
      gap: 20px;
      flex-direction: column;
   }
   nav{
      width: 100%;
   }
   nav .header-navegacao{
      justify-content: space-between;
   }
}

/* Main */
main{
   background-color: #000000;
   box-shadow:inset 0 -120px 0 #ffffff;
}

.main-container{
   display: grid;
   gap: 0 40px;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
   grid-template-columns: 1fr 1fr;
}

.main-texto{
   align-self: flex-end;
   padding-bottom: 250px;
}

.main-container h2{
   color: #ffffff;
   font-size: 4rem;
   margin-bottom: 32px;
}

.main-container p{
   color: #b2b2b2;
   margin-bottom: 20px;
   font-size: 1.5rem;
   line-height: 1.5;
}

.main-container img{
   height: 100%;
    object-fit: cover;
}

.main-texto a{
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--cor-p5);
    max-width: max-content;
    border: none;
    cursor: pointer;
}

@media (max-width:1200px){
   .main-texto h2{
      font-size: 3rem;
      margin-bottom: 15px;
   }

   .main-texto p{
      font-size: 1.3rem;
   }

   .main-texto a{
      padding: 14px 20px;
      font-size: 1.2rem;
   }
}

@media (max-width:800px){
   main{
      background-color: #111111;
      box-shadow:inset 0 -60px 0 #ffffff;
   }
   .main-container{
      padding-top: 40px;
      grid-template-columns: 1fr;
   }
   .main-texto{
      padding-bottom: 40px;
   }

   .main-texto h2{
      font-size: 2rem;
      margin-bottom: 15px;
   }

   .main-texto p{
      font-size: 1.1rem;
   }

   .main-texto a{
      padding: 12px 15px;
      font-size: 1rem;
   }

   .main-container img{
      object-fit: cover;
      height: 300px;
   }
}

/* Biclicletas lista */
.bicicletas-lista{
   padding: 60px 0 120px 0;
}

.bicicletas-lista h2{
   font-size:4rem;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
   max-width: 1200px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
   font-weight: 600;
}

.bicicletas-lista h2 span{
   color: #f2a50c;
}

.bicicletas-lista ul{
   display: flex;
   gap: 40px;
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 20px;
}

.bicicletas-lista h3{
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
   font-weight: 600;
   color: black;
   margin-bottom: 8px;
   display: flex;
   align-items: center;
}

.bicicletas-lista h3::before{
   margin-right: 5px;
   content: "";
   width: 15px;
   height: 7px;
   background-color:#f2a50c;
   display: inline-block;
   transition: width 0.3s;
}

.bicicletas-lista a:hover h3::before{
   width: 25px;
}

.bicicletas-lista ul span{
   color: #595959;
   font-size: 1.1rem;
   padding: 0 20px;
   font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:1200px){
   .bicicletas-lista h3{
      font-size: 1.5rem;
   }

   .bicicletas-lista h2{
      font-size: 3rem;
   }
}

@media (max-width:800px){
   .bicicletas-lista{
      padding-bottom: 60px;
   }
   .bicicletas-lista ul{
      overflow-y: auto;
      gap: 20px;
      padding: 0 20px 20px 20px;
   }

   .bicicletas-lista ul li{
      min-width: 220px;
   }

   .bicicletas-lista h2{
      font-size: 2.2rem;
      margin-bottom: 20px;
   }

   .bicicletas-lista h3{
      font-size: 1.3rem;
   }

   .bicicletas-lista ul span{
      font-size: 1.1rem;
   }

   .bicicletas-lista a:hover h3::before{
      width: 20px;
   }
}

@media (max-width:600px){
   .bicicletas-lista h2{
      font-size: 2rem;
   }

   .bicicletas-lista h3{
      font-size: 1.3rem;
   }

   .bicicletas-lista ul span{
      font-size: 1rem;
   }
}

/* Tecnologias */
.tecnologia-bg{
   background-color: #111111;
   box-shadow: inset 0 120px #ffffff, inset 0 -120px #ffffff;
}

.tecnologia-img img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: left;
}

.tecnologia-texto{
   padding-top: 180px;
   padding-bottom: 180px;
}

.tecnologia-texto > span{
   color: var(--cor-cinza);
   font-size: 1.5rem;
   margin-bottom: 30px;
   display: inline-block;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
}

.tecnologia-texto h2{
   font-size: 4rem;
   color: #ffffff;
   line-height: 1.1;
   font-weight: bold;
   margin-bottom: 30px;
   font-family: 'Poppins', sans-serif;
}

.tecnologia-texto > p{
   color: #B2B2B2;
   font-family: 'Roboto', sans-serif;
   font-size: 1.5rem;
   line-height: 1.5;
   margin-bottom: 30px;
}

.tecnologia-texto a{
   margin-bottom: 60px;
}

.tecnologia-vantagens{
   display: flex;
   gap: 0 40px;
}

.tecnologia-vantagens img{
   width: 24px;
   margin-bottom: 10px;
}

.tecnologia-vantagens h3{
   color: #ffffff;
   font-weight: 500;
   margin-bottom: 10px;
}

.tecnologia-vantagens p{
   line-height: 1.5;
   color: var(--cor-cinza);
}

@media(max-width:1200px){
   .tecnologia-texto > span{
      font-size: 1.2rem;
   }
   .tecnologia-texto h2{
      font-size: 2.5rem;
   }
   .tecnologia-texto > p{
      font-size: 1.2rem;
   }
}

@media(max-width:800px){
   .tecnologia-bg{
      box-shadow: initial;
   }
   .tecnologia-grid{
      grid-template-columns: 1fr;
   }
   .tecnologia-texto{
      padding: 60px 0 0 0;
   }
   .tecnologia-texto a{
      font-size: 1.2rem;
   }
   .tecnologia-img img{
      display: none;
   }
   .tecnologia-vantagens{
      flex-direction: column;
   }
}

@media(max-width:600px){
   .tecnologia-texto > span{
      font-size: 1.1rem;
   }
   .tecnologia-texto h2{
      font-size: 1.7rem;
   }
   .tecnologia-texto > p{
      font-size: 1.1rem;
   }
}
